#app {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success {
    background-color: #4eb883;
}

.badge-success {
    background-color: #4eb883;
}

.card-product {
    border-radius: 17px;
}

.card-img-top {
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}

.fotter {
    background-color: rgba(100, 100, 100, 0.513);
    color: aliceblue;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

/* .col {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    width: 25%;
} */